*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif
}

.header{
  display: grid;
  grid-template-rows: 60% 40%;
  background-color: #232631;
  height: 100px;
}

/* Header Img */

.menu{
  height: 60px;
  display: grid;
  background-color: #1A1E27;
  grid-template-columns: 25% 1fr 30%;
  justify-items: center;
  align-items: center;
  color: #fff;
}

.menu .logo img{
  width: 250px;
  max-height: 50px;
  border-radius: 25%;
}

/* Header Choices */

.menu ul li{
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
}

/* Header Avatar Search */

.menu input{
  outline: none;
  padding: 5px;
  background-color: #1A1E27;
  color: white;
  width: 80%;
}

.avatar{
  display: grid;
  grid-template-columns: 200px 100px 1fr;
  column-gap: 15px;
}

.searchField{
  position: relative;
  border: 1px solid #1A1E27;
  box-shadow: 0 0 3px 1px black;
  border-radius: 5px;
}

.searchField img{
  position: absolute;
  top: 15%;
  right: 5%;
}

/* Header Avatar Language */

.language{
  display: grid;
  grid-template-columns: 35% 1fr;
  position: relative;
}

.language img{
  width: 30px;
}

.language select{
  background-color: #1A1E27;
  color: white;
  -moz-appearance:none;
  -webkit-appearance:none; 
  appearance:none;
}

.language option{
  font-weight: bold;
}

/*  Header Avatar Profile*/

.profile{
  display: grid;
  grid-template-columns: 30px 20px;
  justify-content: center;
}

.profile img{
  width: 30px;
  border-radius: 50%;
  height: 100%;
}

.profile select{
  background-color: #1A1E27;
  color: white;
  outline: none;
}

.profile option{
  font-weight: bold;
}

/* Plataforms */

.plataforms{
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 15% 15% 13% 15%;
  justify-content: center;
  color: #616970;
  font-size: 13px;
  gap: 10px;
}

.imgPlataform,
.plataforms p{
  display: inline;
}

.Nintendo img{
  height: 22px;
  position: relative;
  top: -3px;
}

.plataforms p{
  position: absolute;
  margin-left: 8px;
}

.All p{
  position: inherit;
}

/* Main */

.main{
  height: 450px;
  background: url("https://initiate.alphacoders.com/images/434/stretched-1366-768-434500.jpg?2485") center/cover;
  display: grid;
  justify-content: center;
  grid-template-rows:  25% 1fr;
  color: white;
  filter: hue-rotate(45deg);
}

.main .mainTitle{
  align-self: end;
}

.main .mainText{
  text-align: center;
}


/* Cards */

.cards{
  height: 500px;
  background-color: #1A1E27;
}

.card img{
  width: 300px;
  height: 350px;
}