@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --white-color: #fff;
  --back-one: #1A1E27;
  --button-green: #66C617;
  --button-blue: #5574EC;
  --color-gray: #616970;
  --back-two: #232631;
}


*{
  margin: 0;
    padding: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--back-one);
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.grid{
  display: grid;
}

.header{
  display: grid;
  grid-template-rows: 60% 40%;
  background-color: var(--back-two);
  height: 100px;
}

/* Header Img */

.menu{
  height: 60px;
  display: grid;
  background-color: var(--back-one);
  grid-template-columns: 25% 1fr 30%;
  justify-items: center;
  align-items: center;
  color: var(--white-color);
}

.logo{
  justify-self: start;
  margin-left: 2vw;
  margin-top: 6px;
}

.menu .logo img{
  width: 12vw;
  max-height: 50px;
  border-radius: 3px;
}

/* Header Choices */

.menu ul li{
  list-style-type: none;
  display: inline;
  margin-right: 1vw;
  font-size: 0.8rem;
  font-weight: bold;
}

.menu ul li:hover{
  color: var(--button-green);
  transition: 0.5s;
  cursor: pointer;
}

/* Header Avatar Search */

.menu input{
  outline: none;
  padding: 5px;
  background-color: var(--back-one);
  color: var(--white-color);
  width: 75%;
}

.avatar{
  display: grid;
  grid-template-columns: 10vw 1fr 1fr;
  column-gap: 15px;
}

.searchField{
  position: relative;
  border: 1px solid var(--back-one);
  box-shadow: 0 0 3px 1px black;
  border-radius: 5px;
}

.searchField img{
  position: absolute;
  top: 15%;
  right: 5%;
}

/* Header Avatar Language */

.language{
  display: grid;
  grid-template-columns: 3vw 1fr;
  position: relative;
}

.language img{
  width: 2.5vw;
}

.language select{
  background-color: var(--back-one);
  color: var(--white-color);
  -moz-appearance:none;
  -webkit-appearance:none; 
  appearance:none;
}

.language option{
  font-weight: bold;
}

/*  Header Avatar Profile*/

.profile{
  display: grid;
  grid-template-columns: 2.8vw 1vw;
  justify-content: center;
}

.profile img{
  width: 2.1vw;
  border-radius: 50%;
  height: 100%;
}

.profile select{
  background-color: var(--back-one);
  color: var(--white-color);
  outline: none;
}

.profile option{
  font-weight: bold;
}

/* Plataforms */

.plataforms{
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 15% 15% 13% 15%;
  justify-content: center;
  color: var(--color-gray);
  font-size: 0.8rem;
  gap: 1vw;
}

.imgPlataform,
.plataforms p{
  display: inline;
}

.Nintendo img{
  height: 22px;
  position: relative;
  top: -3px;
}

.plataforms p{
  position: absolute;
  margin-left: 8px;
}

.plataforms p:hover{
  cursor: pointer;
  color: var(--button-green);
  transition: 0.5s;
}

.All p{
  position: inherit;
}

/* Main */

.main{
  height: 500px;
  background: url("../src/assets/battlefield.png") center/cover;
  display: grid;
  justify-content: center;
  grid-template-rows:  25% 1fr;
  color: var(--white-color);
  filter: hue-rotate(45deg);
}


.main .mainTitle{
  align-self: end;
}

.main .mainText{
  text-align: center;
}


/* Featured */

.featured{
  height: 400px;
  background-color: var(--back-one);
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  position: relative;
  top: -35%;
}

.card{
  height: 100%;
}

.card img{
  text-align: center;
  width: 80%;
  height: 280px;
}

.image{
  margin-bottom: 0;
  display: grid;
}

.offer{
  background-color: #252A35;
  width: 80%;
  padding: 2vw;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

.titleOffer{
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 15px;
}

.descriptionOffer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2vh;
  gap: 10px;
}

.descriptionOffer a:first-child:hover{
  box-shadow: 0 0 4px 2px var(--button-blue);
  transition: 1s;
}

.descriptionOffer a:last-child:hover{
  box-shadow: 0 0 4px 2px var(--button-green);
  transition: 1s;
}

.descriptionOffer a{
  color: var(--white-color);
  text-decoration: none;
  padding: 0.7vw;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 2vh;
  text-align: center;
}

.descriptionOffer a:first-child{
  background: linear-gradient(to right,  var(--button-blue) 50%, #859bf1 100%);
}

.descriptionOffer a:last-child{
  background: linear-gradient(to right,  var(--button-green) 50%, #b1f57a 100%);
}

/* Plataform */

.plataform{
  height: 100%;
  width: 80%;
  margin: 10vh auto;
}

.titleSection{
  color: var(--white-color);
  display: inline-block;
}

.underline{
  height: 3px;
  width: 50%;
  background-color: var(--button-green);
}

.cardsPlataform{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6vh;
}

.cardPlataform{
  position: relative;
  color: var(--white-color);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.cardPlataform div + div{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.backgroundPlataform img{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  border-radius: 3%;
  box-shadow: 0 0 4px 1px;
}

.imagePlataform img{
  width: 30px;
  height: 30px;
}

.seeMore a{
  text-decoration: none;
  color: var(--white-color);
  background: linear-gradient(to right,  var(--button-green) 50%, #78a552 100%);
  padding: 10px;
  border-radius: 3px;
}

.seeMore a:hover{
  opacity: 0.8;
}

/*  Sales */

.sales{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 80%;
  margin: 20vh auto;
  color: var(--white-color);
  gap: 20px;
}

.sales .underline{
  margin-top: 1vh;
  width: 40%;
}

.imageProduct img{
  width: 50px;
  height: 50px;
}

.product{
  display: grid;
  grid-template-columns: 50px 1fr 70px;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.product:hover{
  background-color: #282b33;
  transition: 1s;
  cursor: pointer;
}

.textProduct{
  display: grid;
  grid-template-rows: 15px 1fr;
  row-gap: 5px;
}

.offerProduct{
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 10px;
}

.offerProduct span{
  font-size: 12px;
}

.offerProduct span:first-child{
  background: linear-gradient(to right,  var(--button-blue) 50%, #859bf1 100%);
  padding: 2px 5px;
  border-radius: 3px;
}

.offerProduct span:last-child{
  color: var(--color-gray);
}

.priceProduct p{
  color:var(--button-green);
  font-size: 18px;
  font-weight: bold;
}

.topProducts,
.preOrder,
.newProducts{
  display: grid;
  grid-template-rows: 35px 10px 1fr 1fr 1fr 1fr;
  row-gap: 15px;
}

/* Products */


.titleTop{
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

.titleTop p{
  text-transform: uppercase;
}

.topProducts .underline{
  background: linear-gradient(to right, #ffb843 20%, transparent);
}

.preOrder .underline{
  background: linear-gradient(to right, #E84747, transparent);
}

.newProducts .underline{
  background: linear-gradient(to right, #2EC1E7, transparent);
}

/* Categories Header */

.categories .contentHeader{
  background-color:  #171B23;
}

.categories .headerCategory{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  padding: 20px;
}

.headerCategory div{
  grid-template-columns: 40px 1fr;
}

.headerCategory p{
  color: var(--color-gray);
  align-self: center;
}

.headerCategory p:hover{
  color: var(--button-green);
  transition: 1s;
  cursor: pointer;
}


/* Categories Content */

.contentCategories{
  background-color: #252A35;
  padding: 20px 0;
}

.tracks{
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  padding: 20px;
  gap: 100px;
}

.contentCategories a{
  text-decoration: none;
  color: #d6d3d3;
  font-size: 13px;
}

.gameTrackOne,
.gameTrackTwo,
.gameTrackThree{
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}

.tracks div div{
  grid-template-columns: 1fr 1fr;
  color: var(--color-gray);
  font-size: 13px;
  padding: 10px;
  border-radius: 3px;
}

.tracks div div:hover, .tracks div div:hover a{
  background-color: #2f343f;
  color: #66C617;
  transition: all 500ms ease;
}


.tracks a + p{
  text-align: end;
}

/* Footer Contacts */

.footer{
  background-color: #151925;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 15px 1fr;
  align-items: center;
  
}

.footer .contacts{
  grid-template-columns: 300px 600px 300px;
  color: var(--white-color);
  align-items: center;
  position: relative;
}

.logoFooter img{
  width: 30vh;
  height: 13vh;
  border-radius: 5px;
}

.linksFooter ul{
  grid-template-columns: 1fr 1fr 1fr 40%;
}

.footer li{
  list-style-type: none;
  font-size: 16px;
  display: inline-block;
}

.footer li:hover{
  color: var(--button-green);
  cursor: pointer;
  transition: 0.5s;
}

.social{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.social img:hover{
  cursor: pointer;
}

/* Footer Credits */

.credits{
  justify-self: center;
  color: var(--color-gray);
  font-size: 13px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--back-two)
}