@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif
}

body{
  background-color: #1A1E27;
}

.header{
  display: grid;
  grid-template-rows: 60% 40%;
  background-color: #232631;
  height: 100px;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

/* Header Img */

.menu{
  height: 60px;
  display: grid;
  background-color: #1A1E27;
  grid-template-columns: 25% 1fr 30%;
  justify-items: center;
  align-items: center;
  color: #fff;
}

.logo{
  justify-self: start;
  margin-left: 2vw;
}

.menu .logo img{
  width: 12vw;
  max-height: 50px;
  border-radius: 3px;
}

/* Header Choices */

.menu ul li{
  list-style-type: none;
  display: inline;
  margin-right: 1vw;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Header Avatar Search */

.menu input{
  outline: none;
  padding: 5px;
  background-color: #1A1E27;
  color: white;
  width: 80%;
}

.avatar{
  display: grid;
  grid-template-columns: 10vw 1fr 1fr;
  column-gap: 15px;
}

.searchField{
  position: relative;
  border: 1px solid #1A1E27;
  box-shadow: 0 0 3px 1px black;
  border-radius: 5px;
}

.searchField img{
  position: absolute;
  top: 15%;
  right: 5%;
}

/* Header Avatar Language */

.language{
  display: grid;
  grid-template-columns: 3vw 1fr;
  position: relative;
}

.language img{
  width: 2.5vw;
}

.language select{
  background-color: #1A1E27;
  color: white;
  -moz-appearance:none;
  -webkit-appearance:none; 
  appearance:none;
}

.language option{
  font-weight: bold;
}

/*  Header Avatar Profile*/

.profile{
  display: grid;
  grid-template-columns: 2.8vw 1vw;
  justify-content: center;
}

.profile img{
  width: 2.1vw;
  border-radius: 50%;
  height: 100%;
}

.profile select{
  background-color: #1A1E27;
  color: white;
  outline: none;
}

.profile option{
  font-weight: bold;
}

/* Plataforms */

.plataforms{
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 15% 15% 13% 15%;
  justify-content: center;
  color: #616970;
  font-size: 0.8rem;
  gap: 1vw;
}

.imgPlataform,
.plataforms p{
  display: inline;
}

.Nintendo img{
  height: 22px;
  position: relative;
  top: -3px;
}

.plataforms p{
  position: absolute;
  margin-left: 8px;
}

.All p{
  position: inherit;
}

/* Main */

.main{
  height: 500px;
  background: url("../src/assets/battlefield.png") center/cover;
  display: grid;
  justify-content: center;
  grid-template-rows:  25% 1fr;
  color: white;
  filter: hue-rotate(45deg);
}


.main .mainTitle{
  align-self: end;
}

.main .mainText{
  text-align: center;
}


/* Featured */

.featured{
  height: 400px;
  background-color: #1A1E27;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  position: relative;
  top: -35%;
}

.card{
  height: 100%;
}

.card img{
  text-align: center;
  width: 80%;
  height: 280px;
}

.image{
  margin-bottom: 0;
  display: grid;
}

.offer{
  background-color: #252A35;
  width: 80%;
  padding: 2vw;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

.titleOffer{
  color: #fff;
}

.descriptionOffer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2vh;
  gap: 10px;
}

.descriptionOffer a{
  color: #fff;
  text-decoration: none;
  padding: 0.7vw;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 2vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.descriptionOffer a:first-child{
  background-color: #5574EC;
}

.descriptionOffer a:last-child{
  background-color: #66C617;
}

/* Plataform */

.plataform{
  height: 100%;
  width: 80%;
  margin: 10vh auto;
}

.titleSection{
  color: white;
  display: inline-block;
}

.underline{
  height: 3px;
  width: 50%;
  background-color: #66C617;
}

.cardsPlataform{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6vh;
}

.cardPlataform{
  position: relative;
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.cardPlataform div + div{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.backgroundPlataform img{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  border-radius: 3%;
  box-shadow: 0 0 4px 1px;
}

.imagePlataform img{
  width: 30px;
  height: 30px;
}

.titlePlataform h3,
.descriptionPlataform p,
.seeMore a{
  font-family: 'Poppins', sans-serif;
}

.seeMore a{
  text-decoration: none;
  color: #fff;
  background-color: #66C617;
  padding: 10px;
  border-radius: 3px;
}

/*  Sales */

.sales{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 80%;
  margin: 20vh auto;
  color: #fff;
  gap: 20px;
}

.sales .underline{
  margin-top: 1vh;
  width: 40%;
}

.imageProduct img{
  width: 50px;
  height: 50px;
}

.product{
  display: grid;
  grid-template-columns: 50px 1fr 80px;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.product:hover{
  background-color: #282b33;
}

.textProduct{
  display: grid;
  grid-template-rows: 15px 1fr;
  row-gap: 5px;
}

.textProduct p{
  font-family: 'Poppins', sans-serif;
}

.offerProduct{
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 10px;
}

.offerProduct span{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.offerProduct span:first-child{
  background-color: #5574EC;
  padding: 2px 5px;
  border-radius: 3px;
}

.offerProduct span:last-child{
  color: #616970;
}

.priceProduct p{
  font-family: 'Poppins', sans-serif;
  color:#66C617;
  font-size: 18px;
  font-weight: bold;
}

.topProducts,
.preOrder,
.newProducts{
  display: grid;
  grid-template-rows: 35px 10px 1fr 1fr 1fr 1fr;
  row-gap: 15px;
}

/* Top Products */


.titleTop{
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  }

.titleTop p{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.topProducts .underline{
  background: linear-gradient(to right, #ffb843 20%, transparent);
}



.preOrder .underline{
  background: linear-gradient(to right, #E84747, transparent);
}

.newProducts .underline{
  background: linear-gradient(to right, #2EC1E7, transparent);
}
